DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres
DIRECT_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres
TEST_DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres?schema=mealmind_test
